---
import { SEO, type Props as SEOProps } from 'astro-seo';
import '../styles/global.css';
import Header from '@/components/navigations/Header.astro';
import Footer from '@/components/navigations/Footer.astro';
import Icon from '@/assets/icon.png';

interface Props {
  title?: string;
  description?: string;
  seo?: SEOProps;
}

const { title, description, seo } = Astro.props;

const siteName = "floatingpoint.";
const pageTitle = title ? `${siteName} | ${title}` : siteName;
const pageDescription =
  description ||
  "Our passion is in the art of sound, driven by deep connections through immersive sonic landscapes.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={Icon.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="UTF-8"
      title={pageTitle}
      description={pageDescription}
      openGraph={{
        basic: {
          title: pageTitle,
          type: 'website',
          image: Astro.url.origin + "/floatingpoint.png",
          url: Astro.url.href,
        },
        image: {
          alt: "floatingpoint. horizontal logo.",
          type: "image/png",
        },
        optional: {
          siteName: siteName,
        },
      }}
      twitter={{
        title: pageTitle,
        description: pageDescription,
        image: Astro.url.origin + "/floatingpoint.png",
        imageAlt: 'floatingpoint. horizontal logo.',
        card: 'summary_large_image',
      }}
      {...seo}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
